* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: sans-serif;
}

h1 {
    background: #f9f9f9;
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 15px;
    font: light;
    color: black;
    margin-bottom: 25px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.instruments-section {
    max-width: 1500px;
    margin: 0 auto;
}

.products-title {
    padding-top: 99px;
}

.instruments-box {
    background: #f9f9f9;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 101px;
    width: 1500px;
    height: 400px;
}

.product-box {
    margin-right: 30px;
}

.box-1 {
    position: absolute;
    left: 23%;
}

.box-2 {
    position: absolute;
    left: 37%
}

.box-3 {
    position: absolute;
    right: 37%;
}

.box-4 {
    position: absolute;
    right: 23%;
}

.product-img {
    width: 263px;
    height: 210px;
    margin-bottom: 25px;
}

.buy-button {
    background: white;
    border: 1px solid #23bac1;
    max-width: 200px;
    width: 100%;
    height: 55px;
}

.button-text {
    color: #23bac1;
}